# Environment Variables & Secrets
.env
env.yaml
credentials/

# Output Data (Local Testing Only)
output/*.csv
output/bad_data.csv
tests/latest_validation_summary.txt
docs/
notebook/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
